.jumbotron {
    background-image: url("./images/blur\ 1920.jpeg");
    color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 0;
    padding-top: 0;
    height: 650px;
    border-radius: 0;
}

.navbar-brand {
    color: white;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: -1px;
}

.nav-link {
    color: white;

}

.display-4 {
    font-weight: 900;
    font-size: 55px;
    padding-left: 0;
    padding-top: 150px;
    margin-bottom: 30px;
}
.navbar {
    padding: 0;
    height: 90px;
    /* background-image: url("./images/blur\ 1920.jpeg"); */
}



body {
    font-family: 'Raleway', sans-serif;
    /* background-color: bisque; */
}

.lead {
    font-weight: 100;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 70px;
}

.active {
    border-bottom: 4px solid #ff0047;
}

a:hover { 
    color: red;
}

.box {
    height: 300px;
    margin: auto;
    padding: 160px 0;
    width: 100%;
    /* font-size: 3em; */
}

.proj1 {
    background-image: url("./images/codeforum.jpg");
    background-size: 100% 100%;
    /* height: 400px; */
    width: 100%;
    /* opacity: 30%; */
}

.proj2 {
    background-image: url("./images/boo2.png");
    background-size: 100% 100%;
    /* height: 400px; */
    width: 100%;
    /* opacity: 30%; */
}

.proj3 {
    background-image: url("./images/squadmates.png");
    background-size: 100% 100%;
    /* height: 400px; */
    width: 100%;
    /* opacity: 30%; */
}

.proj4 {
    background-image: url("./images/burger.png");
    background-size: 100% 100%;
    /* height: 400px; */
    width: 100%;
    /* opacity: 30%; */
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.section-head {
    margin-bottom: 40px;
    margin-top: 20px;
}

.btn {
    width: 120px;
    margin-right: 15px;
    background: #99238E;
}

hr {
    margin-top: 50px;
}

.aboutMe {
    font-size: 1.3em;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}

.specialCase {
    margin-bottom: 10px;
}

.formRow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.card-footer p {
    margin-bottom: 0;
    opacity:0.1;
    
}

.projectName {
    font-size: 1.5em;
}

.button-footer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 150px;
    background-color: #26293C;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 3px;
    border-radius: 30px;
}
